
#title {
	position: absolute;
	left: 132px;
	top:48px;
	width:600px;
	height:66px;
	background-color: #FFF;
	font-family:-apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 64px;
    font-weight: 100;
    color: #FFF;
	text-align: left;
    }
    
#hero {
	position: absolute;
	width: 100%;
	height 100%;
	background-color: #000;
	opacity: 0.05;
	text-align: left;
	vertical-align: middle;
}